html
    head
        link(href='/stylesheets/style.css', rel='stylesheet')
    body
      div#navbar
        ul
          if (user)
            li.navlink
              a(href="/profile") Hi, #{userName}
            li.navlink
              a(href="/profile") Profile
            li.navlink
              a(href="/logout") Logout
          else
            li.navlinkRight
              a(href="/login") Login
            li.navlinkRight
              a(href="/signup") Sign Up
          li.navlink
            a(href='/') Home
          li.navlink
            a(href='/mostpopular') Most Popular
          li.navlink
            a(href='/faq') FAQ

        div#wrapper
            div.container
                p.title FAQ

                br
                div.left
                    h4.
                        How does one use your service?
                    p.
                        Our website was built to be user friendly and easy to use. As a result, our home page only has a search bar that you can use to type in either the name of an ingredient or the name of a drink to search for recipes.
                    h4.
                        Can I use the service without creating an account?
                    p.
                        Absolutely! This free service is designed for users who want to be part of the community and first-timers who are simply exploring.
                    h4.
                        What can I get out of having an account?
                    p.
                        With an account, you will be able to save recipes, like recipes, and get a custom list of recommended recipes.
                    h4.
                        Are my searches kept secret?
                    p.
                        Yes! We protect the privacy of our users and your search history will never be disclosed to any third parties even for a fee.
                    h4.
                        If I am not 21, can I use the website?
                    p.
                        Unfortunately, the answer is no. While we are all for inclusivity, we never violate any laws. If you are under 21, check in with us later when you become of legal age to drink. We will always be here!
                    h4.
                        If I have a recipe that I made, can I share it with the community?
                    p.
                        We are currently working on this feature, but at this time our website does not have that capability. When we upgrade the service to have the capability, your recipes will first be reviewed by our team of moderators who will decide whether or not to approve your recipe.
                    h4.
                        If I have any questions about the website or how to use the service, who can I contact?
                    p.
                        You can email us at drinkr@drinkr.com with your question, and we will get back to you as soon as possible!



            div.right
                p#name drinkr
