html
    head
        link(href='/stylesheets/style.css', rel='stylesheet')
    body
        div#wrapper
            div.container
                p.title Welcome!

                form(action="/search" method='POST')
                    | Search by ingredients:
                    br
                    input(type='text', name='ingredients', class="search")
                    input(type='submit', value='search', class="button")

                br
                a(href="/profile") Profile  
                ||  
                a(href="/login") Login  
                ||  
                a(href="/logout") Logout  
                ||  
                a(href="/signup") Sign Up  
                ||  
                a(href="/mostpopular") Popular

            div.right
                p#name drinkr
