html
    head
        link(href='/stylesheets/style.css', rel='stylesheet')
    body
        div#wrapper
            div.container
                form(method='POST')
                    | Ingredients:
                    br
                    input(type='text', name='ingredients', class="search")
                    input(type='submit', value='search', class="button")

            div.right
                p#name drinkr
