html
    head
        link(href='/stylesheets/style.css', rel='stylesheet')
    body
        div#wrapper
            div.container
                p.title Login
                a(href="/") Home  
                ||  
                a(href="/profile") Profile  
                ||  
                a(href="/logout") Logout  
                ||  
                a(href="/signup") Sign Up
                br
                br
                form(method='post', action='/login')
                    input(type='email', name='email', placeholder='email', class="search")
                    br
                    input(type='password', name='password', placeholder='password', class="search")
                    br
                    input(type='submit', name='', value='submit', class="widebutton")
                a(href='/auth/facebook') Login with Facebook


            div.right
                p#name drinkr