html
    head
        link(href='/stylesheets/style.css', rel='stylesheet')
    body
        div#navbar
            ul
              if (user)
                li.navlink
                  a(href="/profile") Hi, #{userName}
                li.navlink
                  a(href="/profile") Profile
                li.navlink
                  a(href="/logout") Logout
              else
                li.navlinkRight
                  a(href="/login") Login
                li.navlinkRight
                  a(href="/signup") Sign Up
              li.navlink
                a(href='/') Home
              li.navlink
                a(href='/mostpopular') Most Popular
              li.navlink
                a(href='/faq') FAQ

        div#wrapper
            div.container
                p.title Login
                form(method='post', action='/login')
                    input(type='email', name='email', placeholder='email', class="search")
                    br
                    input(type='password', name='password', placeholder='password', class="search")
                    br
                    input(type='submit', name='', value='submit', class="widebutton")
                a(href='/auth/facebook') Login with Facebook


            div.right
                p#name drinkr
