
html
    head
        link(href='/stylesheets/style.css', rel='stylesheet')
    body
      div#navbar
        ul
          if (user)
            li.navlink
              a(href="/profile") Hi, #{userName}
            li.navlink
              a(href="/profile") Profile
            li.navlink
              a(href="/logout") Logout
          else
            li.navlinkRight
              a(href="/login") Login
            li.navlinkRight
              a(href="/signup") Sign Up
          li.navlink
            a(href='/') Home
          li.navlink
            a(href='/mostpopular') Most Popular
          li.navlink
            a(href='/faq') FAQ

        div#wrapper
            div.container
                p.title Profile

                br
                br
                a(href="/recommended") Personal Recommendations
                p.subtitle Your recipes
                table
                    tr
                        td.thumbnail
                        td.link
                            p name
                        td.ingredients
                            p ingredients

                    - for (var i = 0; i < data.items.length; i++)
                        tr
                            td.thumbnail
                                img(src=data.items[i].item.thumbnail)
                            td.link
                                a(href=data.items[i].item.href)= data.items[i].item.title
                            td.ingredients= data.items[i].item.ingredients
            div.right
                p#name drinkr
