
html
    head
        link(href='/stylesheets/style.css', rel='stylesheet')
    body
        div#wrapper
            div.container
                p.title Results
                a(href="/") Home  
                ||  
                a(href="/profile") Profile  
                ||  
                a(href="/login") Login  
                ||  
                a(href="/logout") Logout  
                ||  
                a(href="/signup") Sign Up
                table
                    tr
                        td.thumbnail
                        td.link
                            p name
                        td.ingredients
                            p ingredients
                        td



                    - for (var i = 0; i < data.length; i++)
                        tr
                            td.thumbnail
                                img(src=data[i].thumbnail)
                            td.link 
                                a(href=data[i].href)= data[i].title
                            td= data[i].ingredients
                            td
                                form(method="post", action="/recipe/" + data[i]._id)
                                    input(type="hidden", name="_id", value=data[i]._id)
                                    input(type='submit', name='', value='add', class="smallbutton")


            div.right
                p#name drinkr