
html
    head
        link(href='/stylesheets/style.css', rel='stylesheet')
    body
        div#wrapper
            div.container
                a(href="/") Home
                table
                    tr
                        td.thumbnail
                        td.link
                            p name
                        td.ingredients
                            p ingredients
                        td
                            p likes
                    - for (var i = 0; i < data.length; i++)
                        tr
                            td.thumbnail
                                img(src=data[i].thumbnail)
                            td.link 
                                a(href=data[i].href)= data[i].title
                            td= data[i].ingredients


            div.right
                p#name drinkr