
html
    head
        link(href='/stylesheets/style.css', rel='stylesheet')
    body
        div#wrapper
            div.container
                p.title Profile
                a(href="/") Home  
                ||  
                a(href="/profile") Profile  
                ||  
                a(href="/login") Login  
                ||  
                a(href="/logout") Logout  
                ||  
                a(href="/signup") Sign Up

                p.subtitle Your recipes
                table
                    tr
                        td.thumbnail
                        td.link
                            p name
                        td.ingredients
                            p ingredients
                        td
                            p likes
                    - for (var i = 0; i < data.length; i++)
                        tr
                            td.thumbnail
                                img(src=data[i].thumbnail)
                            td.link 
                                a(href=data[i].href)= data[i].title
                            td= data[i].ingredients
                            td= data[i].numLikes


            div.right
                p#name drinkr