body {
  	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}
a {
  	color: #00b7ff;
}

#wrapper {
	margin-top:60px;
	overflow: hidden;
	height: 500px;
}

.container {
	height: 100%;
	float: left;
	width: 40%;
	padding-left:30px;
	overflow-y: scroll;
}

.right {
	height: 100%;
	border: 0px;
	padding-left: 50px;
	padding-top: 320px;
	float: right;
	width: 50%;
	background-image: url(pexels-photo-66636.jpg);
	background-size: cover;
	filter: blur(0px);

}

#name {	
	font-size: 80px;

	color: #ffffff; /* White */
	filter: blur(0px);
}

.search {
                padding:8px 15px;
                background:rgba(50, 50, 50, 0.2);
                border:0px solid #bbbbbb;
		width:400px;
}
.button {
                position:relative;
                padding:6px 15px;
                left:-8px;
                border:2px solid #bbbbbb;
                background-color:#bbbbbb;
                color:#fafafa;
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 	
}
.button:hover  {
                background-color:#c4c4c4;
		border:2px solid #c4c4c4;
}


img {
    max-width: 100%;
    height: auto;
}

.thumbnail {
    width: 50px;
    min-height: 50px;
    max-height: auto;
    margin: 3px;
    padding: 3px;
}

.link {
	min-width: 300px;
}