body {
  	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
a {
  	color: #00b7ff;
	text-decoration: none;
}

a:hover {
  	color: #008cc4;

}

#wrapper {
	margin-top:60px;
	overflow: hidden;
	height: 500px;
}

.title {
	font-size: 70px;
	padding-bottom: 0px;
	margin-botton: 0px;
	margin-top: 3px;
	line-height: 50px;
}

.subtitle {
	font-size: 40px;
	padding-bottom: 0px;
	margin-botton: 0px;
	line-height: 30px;
}

.container {
	height: 100%;
	float: left;
	width: 65%;
	padding-left:30px;
	overflow-y: scroll;
	overflow-x: scroll;
	margin-right:0px;
	text-align:center;
}

.right {
	height: 100%;
	border: 0px;
	padding-left: 30px;
	padding-top: 320px;
	float: right;
	width: 30%;
	background-image: url(pexels-photo-66636.jpg);
	background-size: cover;
	filter: blur(0px);
	margin-left: 0px;

}

#name {
	font-size: 80px;

	color: #ffffff; /* White */
	filter: blur(0px);
}

.search {
        padding:8px 15px;
        background:rgba(50, 50, 50, 0.2);
        border:0px solid #bbbbbb;
	width:400px;
}
.button {
        position:relative;
        padding:6px 15px;
        left:-8px;
        border:2px solid #bbbbbb;
        background-color:#bbbbbb;
        color:#fafafa;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.button:hover  {
        background-color:#c4c4c4;
	border:2px solid #c4c4c4;
}

.button {
        position:relative;
        padding:6px 15px;
        left:-8px;
        border:2px solid #bbbbbb;
        background-color:#bbbbbb;
        color:#fafafa;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.button:hover  {
        background-color:#c4c4c4;
	border:2px solid #c4c4c4;
}


.smallbutton {
	position:relative;
        padding:6px 15px;
        border:2px solid #bbbbbb;
        background-color:#bbbbbb;
        color:#fafafa;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

}
.smallbutton:hover  {
        background-color:#c4c4c4;
	border:2px solid #c4c4c4;
}





img {
    	max-width: 100%;
    	height: auto;
}

.thumbnail {
    	width: 50px;
    	height: 40px;
    	margin: 3px;
    	padding: 3px;
	border-right: 1px #00b7ff;
}

.link {
	min-width: 300px;
	border-right: 2px #00b7ff;
}

.ingredients {
	min-width: 250px;
